.search{
width: 1200px;
height: 1136px;
margin: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
background: #000;

&_text{

width: 553px;
height: 114px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;
text-align: center;

color: #FFFFFF;

}

&_div{
width: 1100px;
height: 400px;
display: flex;
align-items: center;
justify-content: space-between;

&_reight{
width: 346px;
height: 400px;
display: flex;
flex-direction: column;
align-items: start;
justify-content: end;
background-image: url(../img/Visual.png);
background-repeat: no-repeat;
background-position: top , center;
border: 1px solid #2c2c2c;
border-radius: 10px;

&_text1{

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 31px;
margin-left: 30px;

color: #FFFFFF;

}

&_text2{

width: 259px;
height: 52px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
margin-left: 30px;
margin-bottom: 15px;

color: rgba(255, 255, 255, 0.7);

}
}

&_left{
width: 744px;
height: 400px;
display: flex;
flex-direction: column;
align-items: start;
justify-content: end;
background-image: url(../img/Visual2.png);
background-repeat: no-repeat;
background-position: top , center;
border-radius: 10px;

&_text1{

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 31px;
margin-left: 30px;

color: #FFFFFF;

}

&_text2{

width: 259px;
height: 52px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
margin-left: 30px;
margin-bottom: 15px;

color: rgba(255, 255, 255, 0.7);

}
}
}
&_div2{
width: 1100px;
height: 400px;
display: flex;
flex-direction: row-reverse;
align-items: center;
justify-content: space-between;

&_reight{
width: 346px;
height: 400px;
display: flex;
flex-direction: column;
align-items: start;
justify-content: end;
background-image: url(../img/Visual.png);
background-repeat: no-repeat;
background-position: top , center;
border: 1px solid #2c2c2c;
border-radius: 10px;

&_text1{

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 31px;
margin-left: 30px;

color: #FFFFFF;

}

&_text2{

width: 259px;
height: 52px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
margin-left: 30px;
margin-bottom: 15px;

color: rgba(255, 255, 255, 0.7);

}
}

&_left{
width: 744px;
height: 400px;
display: flex;
flex-direction: column;
align-items: start;
justify-content: end;
background-image: url(../img/Visual2.png);
background-repeat: no-repeat;
background-position: top , center;
border-radius: 10px;

&_text1{

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 31px;
margin-left: 30px;

color: #FFFFFF;

}

&_text2{

width: 259px;
height: 52px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
margin-left: 30px;
margin-bottom: 15px;

color: rgba(255, 255, 255, 0.7);

}
}
}
}